#!/bin/bash
gluster volume create  {{ volume_name }} replica 2  {% for host in groups['glusterfs_nodes'] %}{% for d in hostvars[host]['disk'] %}{{ host }}:/data/{{ d }}{% if not loop.last %} {% endif %}{% endfor %}{% if not loop.last %} {% endif %}{% endfor %} force
